* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
    width: 100%;
}


.debug {
    border: 1px solid blue;
}

figure {
    max-width: 120px;
}

.cards {
    background-color: black;
    color: white;
}

.card_info {
    margin-top: 10px;
}

.user_mail {
    color: dodgerblue;
}